---
export interface Props {
  prevUrl: string;
  nextUrl: string;
}

const { prevUrl, nextUrl } = Astro.props;
---
<style lang="scss">
.prev,
.next {
  display: block;
  text-transform: uppercase;
  font-size: 0.8em;

  &[href="#"] {
    display: none;
  }
}
</style>

<div>
  <nav class="nav">
      <div class="flex-1 flex justify-between sm:justify-end">
    <a href={prevUrl || '#'} aria-label="Previous Page" class="prev relative inline-flex items-center px-4 py-2 border border-gray-800 text-sm font-medium rounded-md text-gray-300 bg-gray-800 hover:bg-gray-700">
      Previous
    </a>
    <a href={nextUrl || '#'} aria-label="Next Page" class="next ml-3 relative inline-flex items-center px-4 py-2 border border-gray-800 text-sm font-medium rounded-md text-gray-300 bg-gray-800 hover:bg-gray-700">
      Next
    </a>
  </div>
  </nav>
</div>
